/*adonis styles*/

.ui-autocomplete.ui-front {
    max-height: 600px !important;
    overflow-y: auto !important;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

/*end*/


/* PROJECT PAGE */
.in-progress {
    background: rgb(240, 158, 95);
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    font-size: 11px;
    text-transform: capitalize;
}

.done {
    background: rgb(124, 182, 109);
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    font-size: 11px;
    text-transform: capitalize;
}

.sorting {
    width: 125px;
    padding: 2px 7px;
    text-align: center;
    border: 1px solid #dad6d6;
    border-radius: 10%;
    font-size: 12px;
}

.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #51cbce !important;
    border-color: #f3a283 !important;
}

.custom-table {
    height: 700px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.customer-img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}


@media(max-width: 1199px) and (min-width: 991px) {
    .customer-img {
        border-radius: 50%;
        height: 28px;
        width: 44px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {}

@media(max-width: 1500px) {
    .customer-img {
        border-radius: 50%;
        height: 28px;
        width: 44px;
    }
}

@media(max-width: 1199px) {
    .customer-img {
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }
}

@media(max-width: 991px) {}

@media(max-width: 768px) {}

@media(max-width: 768px) and (min-width: 768px) {}

@media(max-width: 650px) {}

@media(max-width: 600px) {}

@media(max-width: 525px) {}

@media(max-width: 479px) {}
