/* ORDER MODAL */
.hours-input {
    width: 100%;
    margin-top: 53px;
    position: relative;
}

.hours-input input {
    width: 100%;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}

.hour-control {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
}

.hour-control .fa-angle-up {
    cursor: pointer;
    position: relative;
    top: 2px;
}

.hour-control .fa-angle-down {
    cursor: pointer;
    position: relative;
    bottom: 8px;
}


.status-white {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 40px;
    width: 40px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #070707;
    border-radius: 50%;
}

.status-orange {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 40px;
    width: 40px;
    margin: auto;
    background-color: #ff7003;
    border: 1px solid #ff7003;
    border-radius: 50%;
}

.status-green {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 40px;
    width: 40px;
    margin: auto;
    background-color: #61B14E;
    border: 1px solid #61b14e;
    border-radius: 50%;
}

.text-waiting {
    font-size: 15px;
    font-family: karlaRegular;
    color: #070707;
}

.text-inprogress {
    font-size: 15px;
    font-family: karlaRegular;
    color: #ff7003;
}

.text-done {
    font-size: 15px;
    font-family: karlaRegular;
    color: #61b14e;
}


/*LOADER*/
#loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #0003;
}

.lds-ring {
    display: inline-block;
    position: relative;
    transform: translate(-50%, 50%);
    left: 50%;
    top: 29%;
    width: 110px;
    height: 110px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 6px;
    border: 10px solid #cb4f46;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cb4f46 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text-silver{
    color:silver
}