body {
	font-family: 'Montserrat', sans-serif;
}

/*FONT*/
@font-face {
    font-family: KarlaBold;
    src: url(../fonts/Karla-Bold.ttf);
}

@font-face {
    font-family: KarlaBoldItalic;
    src: url(../fonts/Karla-BoldItalic.ttf);
}

@font-face {
    font-family: KarlaRegular;
    src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
    font-family: KarlaRegularItalic;
    src: url(../fonts/Karla-RegularItalic.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

header {
    position: absolute;
    width: 100%;
    z-index: 9;
}

header .language-wrapper ul {
    padding: 50px 90px;
    float: right;
}

header .language-wrapper li {
    display: inline-block;
}

header .language-wrapper li.login-tab {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #fff;
    color: #fff;
}

header .language-wrapper li.login-tab:hover ul {
    display: block;
}

header .language-wrapper li.login-tab ul {
    display: none;
    position: absolute;
    padding: 10px;
    width: 100%;
    text-align: right;
}

header .language-wrapper li.login-tab ul:before {
    content: '';
    color: #c51c1c;
    width: 12px;
    height: 2px;
    background: #c51c1c;
    position: absolute;
    left: 20px;
    bottom: 0px;
    top: 0px;
    margin: auto;
}

header .language-wrapper li.login-tab ul li a {
    color:#c51c1c;
}

header .language-wrapper li.login-tab img {
    margin-right: 10px;
}

header .language-wrapper li a {
 	font-size: 18px;
    text-decoration: none;
    color: #545351;
    font-weight: bold;
}

header .language-wrapper li.login-tab a {
    color: #fff;
}

header .language-wrapper li a.active {
    color: #cf302d;
}

.hm-section1 {
    position: relative;
    display: block;
    width: 100%;
    /*height: 130vh;*/
    padding-bottom: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    padding-top: 135px;
}

.hm-section1::after {
    background-image: url('../../assets/img/banner.jpg');
    background-attachment: fixed;
    
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 130vh;*/
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;   
}

.hm-section1 .home-banner {
    padding: 40px 100px;
	text-align: center;
	color: #fff;
}

.hm-section1 .home-banner .logo img {
	text-align: center;
	margin: auto;
}

.slogan {
    text-transform: uppercase;
    letter-spacing: 9px;
    padding: 20px;
}

.slogan h3 {
    font-family: karlaBold;
	font-size: 18px;
}

.hm-section1 .home-banner .description {
    letter-spacing: 3px;
    font-size: 16px;
    font-family: karlaRegular;
}

@keyframes anim-mouse {
    0% {
    opacity: 1;
    top: 29%;
    }
    15% {
    opacity: 1;
    top: 50%;
    }
    50% {
    opacity: 0;
    top: 50%;
    }
    100% {
    opacity: 0;
    top: 29%;
    }
}

.hm-section1 .scroll-me {
	padding-top: 150px
}
.hm-section1 .scroll-me .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 30px;
    margin: auto;
}

.hm-section1 .scroll-me .scroll-btn .mouse {
    position: relative;
    display: block;
    width: 25px;
    height: 40px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 23px;
}

.hm-section1 .scroll-me .scroll-btn .mouse > span {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: anim-mouse 2.5s linear infinite;
    -moz-animation: anim-mouse 2.5s linear infinite;
    animation: anim-mouse 2.5s linear infinite;
}

@media(max-width: 768px) {
	/*.hm-section1 {
		height: 100vh;
	}*/
	.hm-section1 .home-banner {
		padding: 0px;
	}
	.hm-section1 .home-banner .logo img {
		padding: 0px 50px;
	}
}

.slant-before, .slant-after {
	position: absolute;
    left: -100px;
    transform: rotate(-6deg);
    background: #fff;
}

.hm-section2 {
	position: relative;
	display: block;
	width: 100%;
    overflow: hidden;
    margin-top: -70px;
    z-index: 2;
    padding: 20px 0px;
}

.hm-section2::after {
	background:#fff;
	content: "";
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.hm-section2 .contact-wrapper {
	margin-bottom: 20px;
}

.hm-section2 .contact-wrapper .title {
	text-align: center;
	color: #545454;
}

.hm-section2 .contact-wrapper .title h2 {
    letter-spacing: 5px;
    font-size: 34px;
    font-family: Montserrat;
}
.hm-section2 .contact-wrapper .title h2 .reg {
	font-size: 12px;
	vertical-align: top;
}

.hm-section2 .contact-wrapper .description {
    letter-spacing: 3px;
    font-size: 16px;
    color: #6e6d72;
    padding: 20px 200px;
    text-align: center;
}

.hm-section2 .quotation-wrapper {
	border-right: 2px solid #f6f6f6;
	padding-top: 20px;
}

.hm-section2 .quotation-wrapper .title h2 {
	color: #d73125;
	letter-spacing: 10px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	padding: 10px 0px;
}

.hm-section2 .quotation-wrapper form {
	width: 85%;
}

.hm-section2 .quotation-wrapper label {
	text-transform: uppercase;
	color: #727274;
}

.hm-section2 .quotation-wrapper form input {
    /*background: #f6f6f8;*/
	background: #EFEFEF;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 0px 20px;
    /*border-radius: 50px;*/
    border-radius: 0px;
}

.hm-section2 .quotation-wrapper form input:focus {
    box-shadow: -4px -1px 22px #ececec;
    background: #fff;
}

.hm-section2 .quotation-wrapper form textarea {
    /*background: #f6f6f8;*/
	background: #EFEFEF;
    outline: none;
    border: none;
    box-shadow: none;
    /*border-radius: 20px;*/
    border-radius: 0px;
    padding: 10px 20px;
}

.hm-section2 .quotation-wrapper form textarea:focus {
    box-shadow: -4px -1px 22px #ececec;
    background: #fff;
}

.hm-section2 .quotation-wrapper .email-wrapper {
	margin-right: 2%;
}

.hm-section2 .quotation-wrapper .email-wrapper,
.hm-section2 .quotation-wrapper .subject-wrapper {
	width: 49%;
	float: left;
}

.hm-section2 .quotation-wrapper .attach-wrapper {
    text-align: right;
    padding: 10px 0px;
}

.hm-section2 .quotation-wrapper .attach-wrapper .attachments {
    width: 60%;
    text-align: left;
    position: relative;
    display: block;
}

.hm-section2 .quotation-wrapper .attach-wrapper .attachments > div {
    position: relative;
    width: 49%;
    margin-right: 2%;
    float: left;
    background: #EFEFEF;
    padding: 10px 25px;
    border-radius: 50px;
    margin-bottom: 2%;
}

.hm-section2 .quotation-wrapper .attach-wrapper .attachments > div .myclose {
    position: absolute;
    font-size: 20px;
    padding: 5px 10px;
    color: #282828;
    cursor: pointer;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.hm-section2 .quotation-wrapper .attach-wrapper .attachments > div:nth-child(2n+2) {
    margin-right: 0px;
}

.hm-section2 .quotation-wrapper .attach-wrapper label {
    border-radius: 0px;
    padding: 5px 20px;
    border: none;
    font-size: 18px;
    box-shadow: -4px -1px 22px #ececec;
    background: #00A1ED;
    color: #fff;
    border: 1px solid transparent;
    transition: 400ms;
}

.hm-section2 .quotation-wrapper .attach-wrapper label:hover {
    color: #00A1ED;
    background: #fff;
    border: 1px solid #00A1ED;
}

.hm-section2 .quotation-wrapper .btn-send {
    width: 100%;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 18px;
    outline: none;
    padding: 10px;
    color: #00A1ED;
    background: #fff;
    border: 1px solid #00A1ED;
    margin-top: 25px;
    transition: 400ms;
}

.hm-section2 .quotation-wrapper .btn-send:hover {
    color: #fff;
    border:1px solid transparent;
    background: #00A1ED;
}

.hm-section2 .number-hours-wrapper {
	margin: 20px 0px;
}


.hm-section2 .number-hours-wrapper .vertical .carousel-inner {
  height: 100%;
}

.hm-section2 .number-hours-wrapper .carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.hm-section2 .number-hours-wrapper .carousel.vertical .active {
   top: 0;
}

.hm-section2 .number-hours-wrapper .carousel.vertical .next {
   top: 400px;
}

.hm-section2 .number-hours-wrapper .carousel.vertical .prev {
   top: -400px;
}

.hm-section2 .number-hours-wrapper .carousel.vertical .next.left,
.hm-section2 .number-hours-wrapper .carousel.vertical .prev.right {
   top: 0;
}

.hm-section2 .number-hours-wrapper .carousel.vertical .active.left {
   top: -400px;
}

.hm-section2 .number-hours-wrapper .carousel.vertical .active.right {
   top: 400px;
}

.hm-section2 .number-hours-wrapper .carousel.vertical .item {
   left: 0;
}

.hm-section2 .number-hours-wrapper input:nth-child(1),
.hm-section2 .number-hours-wrapper input:nth-child(2),
.hm-section2 .number-hours-wrapper input:nth-child(3),
.hm-section2 .number-hours-wrapper input:nth-child(9),
.hm-section2 .number-hours-wrapper input:nth-child(10),
.hm-section2 .number-hours-wrapper input:nth-child(11),
.hm-section2 .number-hours-wrapper input:nth-child(12) {
	display: none;
}

.hm-section2 .number-hours-wrapper input:nth-child(5),
.hm-section2 .number-hours-wrapper input:nth-child(7) {
	color: #bababa;
    border: none;
    outline: none;
    padding: 0 15px;
    font-weight: 600;
    margin: 0px;
    text-transform: uppercase;
    width: 100%;
}

.hm-section2 .number-hours-wrapper input:nth-child(4),
.hm-section2 .number-hours-wrapper input:nth-child(8) {
	color: #bababa;
    border: none;
    outline: none;
    padding: 0 15px;
    font-weight: 600;
    margin: 0px;
    text-transform: uppercase;
    font-size: 7px;
}

.hm-section2 .number-hours {
	position: relative;
    border-radius: 50px;
    padding: 2px 20px;
    border: none;
    font-size: 18px;
    box-shadow: -4px -1px 22px #ececec;
    width: 80%;
    padding-right: 0px;
    height: 35px;
}

.hm-section2 .number-hours-wrapper input:nth-child(6) {
	height: 35px;
	border: none;
	outline: none;
	text-transform: uppercase;
	width: 80%;
	font-weight: 600;
	visibility: visible;
	position: relative;
    border-radius: 50px;
    padding: 2px 20px;
    border: none;
    font-size: 18px;
    box-shadow: -4px -1px 22px #ececec;
    width: 80%;
    padding-right: 0px;
    height: 35px;
}
.hm-section2 .main-hours-wrapper .hour-nav {
    position: absolute;
    bottom: 188px;
    right: 100px;
}

.hm-section2 .number-hours label {
    vertical-align: top;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.hm-section2 .main-hours-wrapper .btn-up { 
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    color: #5A5B5E;
    font-weight: bolder;
}

.hm-section2 .main-hours-wrapper .btn-down {
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: -5px;
    font-size: 14px;
    color: #5A5B5E;
    font-weight: bolder;
}

.hm-section2 .order-wrapper {
	padding-left: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.hm-section2 .order-wrapper .price-wrapper .price-title {
	color: #d73125;
	letter-spacing: 10px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	padding: 10px 0px;
}

.hm-section2 .order-wrapper .price-wrapper {
	color: #d73125;
}

.hm-section2 .order-wrapper .price-wrapper .price {
	font-size: 80px;
}

.hm-section2 .order-wrapper .price-wrapper .euro {
	vertical-align: top;
    font-size: 20px;
    font-weight: 600;
}

.hm-section2 .order-wrapper .hours-wrapper h3 {
	color: #6d6e70;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.hm-section2 .order-wrapper .hours-wrapper p {
    letter-spacing: 3px;
    font-size: 14px;
    color: #6e6d72;
    text-align: left;
}

.hm-section2 .btn-order a {
    background: #60bd64;
    padding: 10px 50px;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 25px;
    text-decoration: none;
}

@media(max-width: 1199px) {
	.hm-section2 .main-hours-wrapper .hour-nav {
	    bottom: 205px;
	    right: 90px;
	}
}


@media(max-width: 991px) {
	.hm-section2 .contact-wrapper .description {
		padding: 20px 100px;
	}
}

@media(max-width: 768px) {
	.hm-section2 { 
		padding: 20px 0px;
	}
	.hm-section2 .contact-wrapper .description {
		padding: 20px 0px;
	}
	.hm-section2 .quotation-wrapper {
		border: none;
	}
	.hm-section2 .quotation-wrapper form {
		width: 100%;
	}
	.hm-section2 .order-wrapper {
		padding-left: 0px;
	}
	.hm-section2 .main-hours-wrapper .hour-nav {
	    bottom: 167px;
	    right: 55px;
	}
	.hm-section2 .number-hours-wrapper input:nth-child(6) {
		width: 100%;
	}
}


@media(max-width: 768px) and (min-width: 768px) {
	.hm-section2 .main-hours-wrapper .hour-nav {
	    bottom: 185px;
	    right: 110px;
	}
}

@media(max-width: 479px) {
	.hm-section2 .main-hours-wrapper .hour-nav {
	    bottom: 185px;
	    right: 55px;
	}
}

.hm-section3 {
 	position: relative;
    display: block;
    width: 100%;
    /*height: 120vh;*/
    overflow: hidden;
    padding-top: 300px;
    margin-top: -70px;
    z-index: 1;
    background-image: url(../../assets/img/bg-2.jpg);
    background-attachment: fixed;
    padding-bottom: 290px;
}

.hm-section3::after {
    /*background-color: rgba(255, 255, 255, 0.1);*/
    background-color: rgba(0, 0, 0, 0.4);
	background-size: cover;
	background-repeat: no-repeat;
	/*height: 120vh;*/
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.hm-section3 .title {
	color: #fff;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 21px;
	padding: 10px 0px;
	text-align: center;
}

.hm-section3 .subtitle {
	letter-spacing: 2px;
    font-size: 16px;
    color: #b5b5b5;
    text-align: center;
}

.hm-section3 .expertise-wrapper {
    padding: 100px;
}

.hm-section3 .expertise-wrapper .experise-inner-wrapper ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.hm-section3 .expertise-wrapper .experise-inner-wrapper ul li {
    position: relative;
}

.hm-section3 .expertise-wrapper .experise-inner-wrapper ul li .expertise-img-hover {
    opacity: 0;
    transition: 400ms;
}

.hm-section3 .expertise-wrapper .experise-inner-wrapper ul li .expertise-img {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    transition: 400ms;
    z-index: 1;
}

.hm-section3 .expertise-wrapper .experise-inner-wrapper ul li .expertise-img:hover {
    opacity: 0;
}

.hm-section3 .expertise-wrapper .experise-inner-wrapper ul:nth-child(1) li,
.hm-section3 .expertise-wrapper .experise-inner-wrapper ul:nth-child(2) li {
    display: inline-block;
    width: calc(96% / 12);
}

.hm-section3 .expertise-wrapper .experise-inner-wrapper ul:nth-child(3) li {
    display: inline-block;
    width: calc(100% / 6);
}

.hm-section3 .expertise-wrapper .experise-inner-wrapper ul:nth-child(4) li {
    display: inline-block;
}

@media(max-width: 768px) {
	.hm-section3 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.hm-section3 .subtitle {
		padding: 0px;
	}
	.expertise-wrapper .owl-carousel .owl-item img {
		width: 200px;
		text-align: center;
		margin: auto;
	}
}

.hm-section4 {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 430px;
    margin-top: -420px;
    z-index: 1;
    background-image: url(../../assets/img/qoutebackground.png);
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-position: 115% top;
}

.hm-section4 .title {
    text-align: center;
    font-size: 26px;
    color: #C51C1C;
    font-family: karlaBold;
    letter-spacing: 5px;
}

.hm-section4 .subtitle {
    letter-spacing: 3px;
    font-size: 20px;
    color: #6e6d72;
    padding: 20px 200px;
    text-align: center;
    font-family: karlaRegular;
}

.hm-section4 .testimonials-content-wrapper {
    text-align: center;
    width: 70%;
    margin: auto;
    box-shadow: 12px 10px 20px 5px #2828282e;
}

.hm-section4 .testimonials-content-wrapper .testimonials-text {
    background: #282828;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.hm-section4 .testimonials-content-wrapper .testimonials-text p {
    font-family: karlaRegular;
    font-size: 20px;
    margin-top: -20px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    position: relative;
}

.hm-section4 .testimonials-content-wrapper .testimonials-text p:before {
    content: '';
    width: 32px;
    height: 32px;
    background: url(../../assets/img/qoute2.png);
    position: absolute;
    top: 20%;
    left: -20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.hm-section4 .testimonials-content-wrapper .testimonials-text p:after {
    content: '';
    width: 32px;
    height: 32px;
    background: url(../../assets/img/qoute1.png);
    position: absolute;
    bottom: 20%;
    right: -20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.hm-section4 .testimonials-content-wrapper .testimonials-details {
    position: relative;
    padding: 20px;
}

.hm-section4 .testimonials-content-wrapper .testimonials-details .testimonials-name {
    margin-top: 30px;
}

.hm-section4 .testimonials-content-wrapper .testimonials-details .testimonials-name h4 {
    color: #282828;
    font-size: 30px;
    font-family: karlaBold;
}

.hm-section4 .testimonials-content-wrapper .testimonials-details .testimonials-position p {
    color: #282828;
    font-size: 20px;
    font-family: KarlaRegularItalic;
}

.hm-section4 .testimonials-content-wrapper .testimonials-img {
    margin-top: -100px;
}

.hm-section4 .testimonials-content-wrapper .testimonials-img img {
    width: 200px;
    text-align: center;
    margin: auto;
}

.testimonials-inner-wrapper {
    padding: 30px;
}

.testimonials-inner-wrapper .prev_next_nav {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.testimonials-inner-wrapper .prev_next_nav img {
    width: 32px;
}

.testimonials-inner-wrapper .prev_next_nav .prev {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    left: 150px;
    cursor: pointer;
}

.testimonials-inner-wrapper .prev_next_nav .next {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    right: 150px;
    cursor: pointer;
}

/*ACCOUNT*/

.account-wrapper {
    padding-bottom: 50px;
}

.account-wrapper .logo-wrapper {
    text-align: center;
    margin: auto;
    padding-top: 130px;
}

.account-wrapper .logo-wrapper .logo img {
    text-align: center;
    margin: auto;
}

.account-wrapper .user-inner-wrapper {
    text-align: center;
}

.account-wrapper .user-inner-wrapper .user-name {
    padding-top: 25px;
}

.account-wrapper .user-inner-wrapper .user-name h4 {
    font-family: karlaBold;
    font-size: 30px;
}

.account-wrapper .user-inner-wrapper .process-tabs-wrapper ul {
    margin: 0px;
    padding: 0px;
}

.account-wrapper .user-inner-wrapper .process-tabs-wrapper ul li {
    position: relative;
    display: inline-block;
    padding: 30px;
}

.account-wrapper .user-inner-wrapper .process-tabs-wrapper ul li:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: #707070;
    top: 0px;
    bottom: 0px;
    right: -27px;
    margin: auto;
}

.account-wrapper .user-inner-wrapper .process-tabs-wrapper ul li:last-child:after {
    display: none;
}

.account-wrapper .user-inner-wrapper .process-tabs-wrapper ul li a {
    font-family: karlaRegular;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #5A5B5E;
}

.account-wrapper .user-inner-wrapper .process-tabs-wrapper ul li a.activeLink {
    font-size: 26px;
    font-family: karlaBold;
    color: #000;
}

.account-wrapper .user-inner-wrapper .myaccount-process-wrapper .process-title {
    margin-top: 50px;
    margin-bottom: 80px;
}

.account-wrapper .user-inner-wrapper .myaccount-process-wrapper .process-title h4 {
    font-size: 26px;
    font-family: karlaBold;
    color: #C51C1C;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.account-wrapper .user-inner-wrapper .myacount-actions-wrapper {
    text-align: left;
    margin-bottom: 50px;
}

.account-wrapper .user-inner-wrapper .myacount-actions-wrapper ul {
    margin: 0px;
    padding: 0px;
}

.account-wrapper .user-inner-wrapper .myacount-actions-wrapper ul li {
    display: inline-block;
    text-align: left;
}

.account-wrapper .user-inner-wrapper .myacount-actions-wrapper ul li:last-child {
    float: right;
}

.account-wrapper .user-inner-wrapper .myacount-actions-wrapper ul li span {
    font-size: 18px;
    text-transform: uppercase;
    font-family: karlaBold;
    color: #282828;
    margin-right: 25px;
}

.account-wrapper .user-inner-wrapper .myacount-actions-wrapper ul li select {
    width: 100px;
    border: none;
    box-shadow: 4px 3px 10px #00000036;
    padding: 0px 10px;
    font-size: 18px;
    font-family: karlaRegular;
}

.account-wrapper .user-inner-wrapper .myacount-actions-wrapper ul li a {
    text-decoration: none;
}

.account-wrapper .user-inner-wrapper .myacount-actions-wrapper ul li img {
    margin-right: 10px;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  
  width: 0;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr label .checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 40px;
  width: 40px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #FF7003;
  border-radius:50%;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr label input:checked ~ .checkmark {
  background-color: #61B14E;
  border:1px solid transparent;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr label input:checked ~ .checkmark:after {
  display: block;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table {
    box-shadow: 4px 3px 10px #00000036;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td {
    padding: 15px 0px;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr:nth-child(odd) {
    background: #EFEFEF;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td .progress-status {
    font-size: 15px;
    font-family: karlaRegular;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td .progress-status.in-progress {
    color: #FF7003;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td .progress-status.done {
    color: #61B14E;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td h4 {
    font-family: karlaBold;
    font-size: 18px;
    margin-bottom: 0px;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td h5 {
    font-family: karlaRegular;
    font-size: 18px;
    margin: 0px;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td span {
    font-size: 18px;
    font-family: karlaRegular;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td strong span {
    font-size: 18px;
    font-family: karlaBold;
}

.account-wrapper .user-inner-wrapper .myaccount-projects-wrapper table tr td a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: karlaBold;
    font-size: 18px;
    background: #61B14E;
    color: #fff;
    padding: 5px 15px;
}

.table-scroll {
    overflow: auto;
    max-height: 500px;
}

/*ORDER HISTORY*/
.account-wrapper .user-inner-wrapper .order-history-wrapper .myacount-actions-wrapper ul li select {
    width: 135px;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper table {
    border: 1px solid #707070;
    border-top: 0px;
    box-shadow: none;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper table tr td {
    padding: 10px 20px;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper table tr.order-history-table-heading {
    background: #C51C1C;
    color: #fff;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper table tr.order-history-table-heading td {
    border-right:1px solid #fff;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper table tr.order-history-table-heading td:last-child {
    border: none;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper table tr td {
    border-right: 1px solid #707070;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper table tr td:last-child {
    border: none;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper table tr.order-history-table-heading h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: karlaBold;
    margin: 0px;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper ul {
    margin: 0px !important;
    padding: 0px;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper ul li {
    display: inline-block;
}

.account-wrapper .user-inner-wrapper .order-history-wrapper ul li a {
    padding: 0px !important;
    background: none !important;
}

/*END OF ORDER HISTORY*/

/*CREDIT*/
.credit-wrapper .hours-wrapper {
    margin-bottom: 150px;
    text-align: left;
}

.credit-wrapper .hours-remaining-wrapper {
    position: relative;
}

.credit-wrapper .hours-remaining-wrapper h4 {
    font-size: 18px;
    font-family: karlaBold;
    color: #282828;
    text-transform: uppercase;
    margin: 0px;
}

.credit-wrapper .hours-remaining-wrapper h2 {
    font-size: 80px;
    color: #61B14E;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.credit-wrapper .hours-remaining-wrapper p {
    text-align: left;
    font-family: karlaRegular;
    font-size: 18px;
    margin-bottom: 25px; 
}

.credit-wrapper .hours-remaining-wrapper a {
    text-decoration: none;
    color: #61B14E;
    font-size: 19px;
    font-family: karlaBold;
    width: 100%;
    border: 2px solid #61B14E;
    padding: 10px 100px;
}

.credit-wrapper .total-hours-used-wrapper span {
    color: #282828;
    text-transform: uppercase;
    font-family: karlaBold;
    font-size: 18px;
    margin-right: 25px;
}

.credit-wrapper .total-hours-used-wrapper select {
    font-size: 18px;
    font-family: karlaRegular;
}

.credit-wrapper .total-hours-used-wrapper h2 {
    font-size: 80px;
    font-family: karlaBold;
    color: #00A1ED;
    font-weight: 600;
}

.credit-wrapper .total-hours-used-wrapper p {
    text-align: left;
    padding-left: 25px;
    font-family: karlaRegular;
    font-size: 18px;
    margin-bottom: 25px; 
}

.credit-wrapper .total-hours-used-wrapper p:before {
    content: '';
    background: url(../../assets/img/information.png);
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.credit-wrapper .myacount-actions-wrapper ul li:last-child span {
    font-family: karlaBold;
    margin-right: 0px;
    font-size: 18px;
}

.credit-wrapper .myacount-actions-wrapper ul li:last-child span:last-child {
    color: #00A1ED;
    font-family: karlaBold;
    font-size: 18px;
}

.account-wrapper .user-inner-wrapper .credit-wrapper .myaccount-projects-wrapper table tr td {
    padding: 15px 30px;
}

.account-wrapper .user-inner-wrapper .credit-wrapper .myaccount-projects-wrapper table tr td .credit-status {
    font-family: karlaBold;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.account-wrapper .user-inner-wrapper .credit-wrapper .myaccount-projects-wrapper table tr td .credit-status.in-progress {
    background: #FF7003;
}

.account-wrapper .user-inner-wrapper .credit-wrapper .myaccount-projects-wrapper table tr td .credit-status.done {
    background: #61B14E;
}

/*PROJECT VIEW*/
.project-view-wrapper {
    margin-top: 80px;
}

.project-view-wrapper .project-view-inner table tr td h4.project-view-legend  {
    font-family: karlaBold;
    text-transform: uppercase;
    color: #282828;
    font-size: 18px;     
}

.project-view-wrapper .project-view-inner table tr td h4{
    font-family: karlaRegular;
    color: #282828;
    font-size: 18px;
}

.project-view-preview {
    margin-top: 100px;
}

.project-view-preview h2 {
    text-align: left;
    font-size: 18px;
    font-family: karlaBold;
    text-transform: uppercase;
    padding: 10px 100px;
}

.project-view-preview .project-view-inner-preview {
    position: relative;
}

.project-view-preview .project-view-inner-preview .prev_next_nav {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.project-view-preview .project-view-inner-preview .prev_next_nav .prev {
    position: absolute;
    left: 50px;
    cursor: pointer;
}

.project-view-preview .project-view-inner-preview .prev_next_nav .next {
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.project-view-preview .project-view-inner-preview .preview-image-wrapper {
    margin: 100px;
    margin-bottom: 50px;
    box-shadow: 12px 10px 20px 5px #2828282e;
    margin-top: 0px;
}

.project-view-preview .project-view-inner-preview .owl-nav {
    display: none;
}
/*END OF PROJECT VIEW*/

/*NEW PROJECT POP-UP*/
.urgence-modal {
   background: rgba(0, 0, 0, .9);
}

.urgence-modal .close {
    font-size: 41px;
    font-family: karlaBold;
    opacity: 1;
    outline: none;
}

.new-project-wrapper {
    padding: 50px;
}

.new-project-wrapper .logo-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.new-project-wrapper .logo-wrapper .logo img {
    text-align: center;
    margin: auto;
}

.new-project-wrapper h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: karlaBold;
}

.new-project-wrapper .start-date {
    padding: 15px 0px;
}

.new-project-wrapper .start-date .start-date-label {
    font-size: 15px;
    text-transform: uppercase;
    font-family: karlaBold;
    margin-right: 20px;
}

.new-project-wrapper textarea, .new-project-wrapper input[type="text"] {
    background: #EFEFEF;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 10px 20px;
}

.new-project-wrapper textarea:focus, .new-project-wrapper input[type="text"]:focus {
    box-shadow: -4px -1px 22px #ececec;
    background: #fff;
}

.new-project-wrapper .attach-wrapper {
    text-align: right;
    padding: 20px 0px;
}

.new-project-wrapper .attach-wrapper label {
    border-radius: 0px;
    padding: 5px 20px;
    border: none;
    font-size: 18px;
    box-shadow: -4px -1px 22px #ececec;
    background: #00A1ED;
    color: #fff;
    border: 1px solid transparent;
    transition: 400ms;
}

.new-project-wrapper .attach-wrapper label:hover {
    color: #00A1ED;
    background: #fff;
    border: 1px solid #00A1ED;
}

.new-project-wrapper .attach-wrapper .attachments {
    width: 60%;
    text-align: left;
    position: relative;
    display: block;
}

.new-project-wrapper .attach-wrapper .attachments > div {
    position: relative;
    width: 49%;
    margin-right: 2%;
    float: left;
    background: #EFEFEF;
    padding: 10px 25px;
    border-radius: 50px;
    margin-bottom: 2%;
}

.new-project-wrapper .attach-wrapper .attachments > div:nth-child(2n+2) {
    margin-right: 0px;
}

.new-project-wrapper .attach-wrapper .attachments > div .myclose {
    position: absolute;
    font-size: 20px;
    padding: 5px 10px;
    color: #282828;
    cursor: pointer;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center
}

.new-project-wrapper .btn-create-project {
    margin-top: 80px;
    background: #61B14E;
    color: #fff;
    font-family: karlaBold;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px;
    height: auto;
    text-align: center;
    transition: 400ms;
}

.new-project-wrapper .btn-create-project:hover {
    background: #fff;
    color: #61B14E;
    border-color: #61B14E;
}
/*END OF NEW PROJECT POP-UP*/

/*CREDIT ADD HOUR POP-UP*/
.urgence-modal .logo-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.urgence-modal .logo-wrapper .logo img {
    text-align: center;
    margin: auto;
}

.credit-addhour-wrapper {
    padding: 50px;
}

.credit-addhour-wrapper .hours-wrapper h1 {
    font-size: 18px;
    font-family: karlaBold;
    text-transform: uppercase;
}

.credit-addhour-wrapper .number-hours-wrapper {
    margin: 20px 0px;
}


.credit-addhour-wrapper .number-hours-wrapper .vertical .carousel-inner {
  height: 100%;
}

.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .active {
   top: 0;
}

.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .next {
   top: 400px;
}

.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .prev {
   top: -400px;
}

.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .next.left,
.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .prev.right {
   top: 0;
}

.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .active.left {
   top: -400px;
}

.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .active.right {
   top: 400px;
}

.credit-addhour-wrapper .number-hours-wrapper .carousel.vertical .item {
   left: 0;
}

.credit-addhour-wrapper .number-hours-wrapper input:nth-child(1),
.credit-addhour-wrapper .number-hours-wrapper input:nth-child(2),
.credit-addhour-wrapper .number-hours-wrapper input:nth-child(3),
.credit-addhour-wrapper .number-hours-wrapper input:nth-child(9),
.credit-addhour-wrapper .number-hours-wrapper input:nth-child(10),
.credit-addhour-wrapper .number-hours-wrapper input:nth-child(11),
.credit-addhour-wrapper .number-hours-wrapper input:nth-child(12) {
    display: none;
}

.credit-addhour-wrapper .number-hours-wrapper input:nth-child(5),
.credit-addhour-wrapper .number-hours-wrapper input:nth-child(7) {
    color: #bababa;
    border: none;
    outline: none;
    padding: 0 15px;
    font-weight: 600;
    margin: 0px;
    text-transform: uppercase;
    width: 100%;
}

.credit-addhour-wrapper .number-hours-wrapper input:nth-child(4),
.credit-addhour-wrapper .number-hours-wrapper input:nth-child(8) {
    color: #bababa;
    border: none;
    outline: none;
    padding: 0 15px;
    font-weight: 600;
    margin: 0px;
    text-transform: uppercase;
    font-size: 7px;
}

.credit-addhour-wrapper .number-hours {
    position: relative;
    border-radius: 50px;
    padding: 2px 20px;
    border: none;
    font-size: 18px;
    box-shadow: -4px -1px 22px #ececec;
    width: 80%;
    padding-right: 0px;
    height: 35px;
}

.credit-addhour-wrapper .number-hours-wrapper input:nth-child(6) {
    height: 35px;
    border: none;
    outline: none;
    text-transform: uppercase;
    width: 80%;
    font-weight: 600;
    visibility: visible;
    position: relative;
    border-radius: 50px;
    padding: 2px 20px;
    border: none;
    font-size: 18px;
    box-shadow: -4px -1px 22px #ececec;
    width: 80%;
    padding-right: 0px;
    height: 35px;
}

.credit-addhour-wrapper .main-hours-wrapper .hour-nav {
    position: absolute;
    bottom: 71px;
    right: 71px;
}

.credit-addhour-wrapper .number-hours label {
    vertical-align: top;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.credit-addhour-wrapper .main-hours-wrapper .btn-up { 
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    color: #5A5B5E;
    font-weight: bolder;
}

.credit-addhour-wrapper .main-hours-wrapper .btn-down {
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: -5px;
    font-size: 14px;
    color: #5A5B5E;
    font-weight: bolder;
}

.credit-addhour-wrapper .price-wrapper {
    color: #d73125;
}

.credit-addhour-wrapper .price-wrapper .price-title {
    color: #d73125;
    letter-spacing: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
    padding: 10px 0px;
    font-family: karlaBold;
}

.credit-addhour-wrapper .price-wrapper .price {
    font-size: 80px;
    font-family: karlaRegular;
}

.credit-addhour-wrapper .price-wrapper .euro {
    vertical-align: top;
    font-size: 20px;
    font-weight: 600;
}

.credit-addhour-wrapper .payment-method-wrapper h4 {
    font-size: 18px;
    font-family: karlaBold;
    text-transform: uppercase;
}

.credit-addhour-wrapper .payment-method-wrapper .payment-method-options ul {
    margin: 0px;
    padding: 0px;
}

.credit-addhour-wrapper .payment-method-wrapper .payment-method-options ul li {
    display: inline-block;
    padding: 15px;
}

.credit-addhour-wrapper .payment-method-wrapper .payment-method-options ul li {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.credit-addhour-wrapper .payment-method-wrapper .payment-method-options ul li > input{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.credit-addhour-wrapper .payment-method-wrapper .payment-method-options ul li > i { 
  display: inline-block;
  vertical-align: middle;
  width:  16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: inset 0 0 0 8px #fff;
  border: 1px solid gray;
  background: gray;
}

.credit-addhour-wrapper .payment-method-wrapper .payment-method-options ul li:hover > i {
  box-shadow: inset 0 0 0 3px #fff;
  background: gray;
}

.credit-addhour-wrapper .payment-method-wrapper .payment-method-options ul li > input:checked + i {
  box-shadow: inset 0 0 0 3px #fff;
  background: orange;
}
/*END OF CREDIT ADD HOUR POP-UP*/

/*END OF CREDIT*/

footer {
    padding: 0px;
    padding-bottom: 180px;
    padding-top: 400px;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

footer:after {
    background-image: url(../../assets/img/footer-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 130vh; */
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

footer .logo img {
	text-align: center;
	margin: auto;
	vertical-align: middle;
}
footer .slogan {
    text-transform: uppercase;
    letter-spacing: 9px;
    padding: 20px 0px;
}

footer .slogan h3 {
	font-size: 18px;
    font-weight: 600;
    color: #fff;
    font-family: karlaBold;
}

footer h4 {
	text-transform: uppercase;
	font-weight: 600;
    color: #fff;
    font-family: karlaBold;
    font-size: 20px;
}

footer p {
	text-transform: uppercase;
	font-size: 18px;
	color: #9e9e9e;
}

footer .email {
	text-transform: none;
}

footer .order{
	padding: 50px 0px;
}

footer .order ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

footer .order ul li {
	display: inline-block;
}

footer .copyright {
	text-transform: uppercase;
	font-size: 9px;
	color: #9e9e9e;
	letter-spacing: 2px;
}
@media(max-width: 991px) {
	footer {
    	padding: 100px 0px;
    	margin-top: -70px;
	}

	footer .logo img {
		padding-bottom: 25px;
	}
}

@media(max-width: 768px) {
	footer {
    	padding: 50px 0px;
    	margin-top: -70px;
	}
	footer .logo img {
		padding-bottom: 25px;
	}
}

